body {
    font-family: 'Acme', sans-serif;
    font-family: 'Koulen', cursive;
    font-family: 'Righteous', cursive;
}


.noti-container {
    position: absolute;
    background-color: black;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.noti-container .noti-container-body {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background: black;
    width: 200px;
    font-size: 22px;
    text-align: center;
    color: white;
}

.noti-container .noti-container-body p {
    margin-top: 12px;
    margin-bottom: 1px;
}

.noti-container .noti-container-body .start-icon {
    background-image: url(./Images/POTC.png);
    background-size: 250px;
    background-repeat: no-repeat;
    margin: 0;
    padding: 5.5em;
}

.noti-container .noti-container-body .start-btn {
    margin-bottom: 30px;
    font-weight: 5;
    border-radius: 5px;
    width: 80px;
    height: 35px;
    font-size: 18px;
}

.player-container {
    display: flex;
    flex-flow: row nowrap;
    gap: 5em;
    align-items: center;
}
  
.player-container .img-container {
    width: 5em;
    margin: 0;   
}

.player-container .img-container img {
    max-width: 180%;
    margin-top: 10%;
    padding-left: 630%;
}

#players-not-me {
    margin-bottom: 10px;
}
  
.player-container .dice-container {
    flex: 1 0 auto;
    display: flex;
    flex-flow: row wrap;
    padding-left: 500px;
    padding-bottom: 50px;
}

.player-container figcaption {
    padding-left: 550px;
    font-size: 18px;
}

#player-me .player-container figcaption {
    padding-left: 570px;
}

#bid-container {
    background-color: rgb(195, 195, 195);
    min-height: 57px;
}

#player-me-bid-container {
    background-color: rgb(195, 195, 195);
    min-height: 57px;
}

#bid-container {
    display: flex;
    font-size: 18px;
    justify-content: center;
}

#show-selected-bid p {
    margin-top: 5px;
}

#show-selected-bid span {
    margin-left: 25px;
}

#show-selected-bid .selected-bid {
    padding-bottom: 5px;
}

#liar {
    border-radius: 5px;
    width: 60px;
    height: 30px;
    font-weight: 900;
    font-size: 18px;
    margin-top: 40px;
}

#player-me-bid-container {
    text-align: center;
    font-size: 18px;
}

#bid-options {
    display: flex;
    padding-left: 20px;
    overflow-x: scroll;
}

.ind-bids {
    width: 30px;
    margin-bottom: 10px;
    padding-right: 50px;
    white-space: nowrap;
    background-color: darkgoldenrod;
    display: inline-block;
    border-radius: 12px;
}

.dice-container img {
    height: 50px;
    padding-top: 50px;
    padding-left: 10px;
}

.ind-bids img {
    height: 30px;
}

.selected-bid img  {
    height: 30px;
}
